---
import useMetadata from "../utils/useMetadata";
const metadata = useMetadata();
---

<form id="filter">
    <fieldset>
        <!--<legend>帖子分类</legend>-->
        {Object.entries(metadata.category).map(([shorthand, name]) =>
                <input
                        class="radio"
                        type="radio"
                        id={shorthand}
                        name="category"
                        value={shorthand}
                />
                <label for={shorthand}>{name}</label>
        )}
    </fieldset>

    <fieldset>
        {Object.entries(metadata.degree).map(([shorthand, name]) =>
                <input
                        class="checkbox"
                        type="checkbox"
                        id={shorthand}
                        name="degree"
                        value={shorthand}
                />
                <label for={shorthand}>{name}</label>
        )}
    </fieldset>
</form>

<script>
    /**
     *  Helper function to dump the form data into filters state.
     * The data would look like:
     * ```json
     * {
     *   category: ['grad'],
     *   degree: ['ms', 'phd']
     * }
     * ```
     */
    function getFilterState(form) {
        const formData = new FormData(form);
        const filterState = {};

        // dynamically generate filters object
        for (const [key, value] of formData.entries()) {
            if (!filterState[key]) {
                filterState[key] = [];
            }
            filterState[key].push(value);
        }

        return filterState;
    }

    import {updateFilters} from "../stores/filters";

    const form = document.getElementById('filter');
    updateFilters(getFilterState(form)); // initialize filter state
    form.addEventListener('change', () => {
        const formState = getFilterState(form);
        updateFilters(formState);
    });
</script>
